[Unit]
Description=cavex DroneDeploy startup component
PartOf=cavex.service
After=cavex.service

[service]
ExecStart=/cavex_workspace/dev/CaveX2023/launch_app/launch_scripts/cavex_dronedeploy.sh
Restart=on-failure

[Install]
WantedBy=cavex.service
