# Need to update this file with new paths
[Unit]
Description=cavex startup parent service
PartOf=cavex_roscore.service
After=cavex_roscore.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=cavex_roscore.service
