[Unit]
Description=cavex imu startup service
PartOf=cavex.service
After=cavex.service
After=cavex_gait.service

[Service]
ExecStart=/cavex_workspace/dev/CaveX2023/launch_app/launch_scripts/cavex_imu.sh
Restart=on-failure

[Install]
WantedBy=cavex.service
