<launch>
    <node pkg="nodelet" 
        type="nodelet" 
        name="standalone_nodelet" 
        args="manager" 
        output="screen" 
    />
    <node pkg="nodelet" 
        type="nodelet" 
        name="FLOAMNodelet" 
        args="load nodelets/FLOAMNodelet standalone_nodelet" 
        output="screen" 
    />
</launch>