<launch>
    <!-- <node pkg="cavex" type="velodyneReaderNode" name="velodyneReaderNode" /> -->
    <node pkg="cavex" type="nodelet" name="floam_nodelet_manager" args="manager" output="screen" />
    <node pkg="cavex" type="nodelet" name="floamNodelet" args="load nodelets/floamNodelet floam_nodelet_manager" output="screen" />
</launch>