<launch>
    <!-- <node pkg="cavex" type="velodyneReaderNode" name="velodyneReaderNode" /> -->
    <!-- <node pkg="cavex" type="nodeletManagerNode" args="manager" name="nodeletManagerNode" output="screen" /> -->
    <node pkg="cavex" type="nodelet" args="load cavex/floamNodelet nodeletManagerNode" name="floamNodelet_loader" output="screen" />
    <!-- <node pkg="cavex" type="floamNodelet" name="floamNodelet" /> -->
</launch>